API_FOOTBALL_KEY=your_api_sports_key_here
API_FOOTBALL_WORLD_CUP_LEAGUE_ID=1
API_FOOTBALL_WORLD_CUP_SEASON=2026
API_FOOTBALL_FIXTURES_URL=
SPORTMONKS_KEY=your_sportmonks_token_here
SPORTMONKS_WORLD_CUP_LEAGUE_ID=732
SPORTMONKS_WORLD_CUP_SEASON_ID=
FEISHU_WEBHOOK_URL=
FEISHU_WEBHOOK_SECRET=
FEISHU_TARGETS_JSON=
WORLDCUP_WEB_URL=
